<!DOCTYPE html>
<html lang="en">
<head>
          <title>CMPUT 404 - Lab 5 - Pelican & Basic HTML/CSS</title>
        <meta charset="utf-8" />

  <link rel="icon" href="https://uofa-cmput404.github.io/theme/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="https://uofa-cmput404.github.io/theme/style.css" />




    <meta name="tags" content="pelican" />
    <meta name="tags" content="html css" />

</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="https://uofa-cmput404.github.io/">CMPUT 404 <strong></strong></a></h1>
        </header><!-- /#banner -->
        <nav id="menu"><ul>
            <li><a href="https://uofa-cmput404.github.io/">Home</a></li>
            <li class="active"><a href="https://uofa-cmput404.github.io/category/lab.html">Lab</a></li>
        </ul></nav><!-- /#menu -->
<section id="content" class="body">
  <header>
    <h2 class="entry-title">
      <a href="https://uofa-cmput404.github.io/lab-5-pelican-basic-htmlcss.html" rel="bookmark"
         title="Permalink to Lab 5 - Pelican & Basic HTML/CSS">Lab 5 - Pelican & Basic HTML/CSS</a></h2>
 
  </header>
  <footer class="post-info">
    <time class="published" datetime="2019-01-07T12:40:00-07:00">
      Mon, 07 Jan 2019 at 12:40 MST
    </time>
    <time class="modified" datetime="2019-01-07T12:40:00-07:00">
      Mon, 07 Jan 2019 at 12:40 MST
    </time>
    <address class="vcard author">
      By           <a class="url fn" href="https://uofa-cmput404.github.io/author/alexander-wong.html">Alexander Wong</a>
    </address>
    <div class="category">
        Category: <a href="https://uofa-cmput404.github.io/category/lab.html">Lab</a>
    </div>
    <div class="tags">
        Tags:
            <a href="https://uofa-cmput404.github.io/tag/pelican.html">pelican</a>
            <a href="https://uofa-cmput404.github.io/tag/html-css.html">html css</a>
    </div>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    <hr>
<p>Create a static page using <a href="https://blog.getpelican.com/">Pelican</a>, or write plain html. Deploy using <a href="https://pages.github.com/">GitHub pages</a>. Learn to style the basic theme.</p>
<p>Create a text file <code>lab5-${ccid}.txt</code> containing answers to the questions and submit to <em>Lab 5</em> on eClass. Feel free to follow along with the <a href="https://docs.getpelican.com/en/stable/quickstart.html">official documentation</a>.</p>
<p><em>aside</em>: These lab instructions are currently using Pelican and hosted on Github Pages!</p>
<h3>Initializing the Project</h3>
<p>Create a repository on Github for your github hosted page.</p>
<ul>
<li>If using a <strong>User or Organization site</strong>, the repo must be named <code>${username}.github.io</code><ul>
<li>raw html must be served on the master branch directly</li>
</ul>
</li>
<li>If using a project site, the repo can be named anything,<ul>
<li>raw html can also be on the master branch in a directory named <code>/docs</code></li>
</ul>
</li>
</ul>
<p>Clone the repository, change directory into the repo. Create a branch named <code>src</code> and initialize a <code>python3</code> virtual environment.</p>
<div class="highlight"><pre><span></span>git clone <span class="o">{</span>git-repo-url<span class="o">}</span>
<span class="nb">cd</span> <span class="o">{</span>git-clone-url<span class="o">}</span>
git branch src
git checkout src
virtualenv venv --python<span class="o">=</span>python3
<span class="nb">source</span> venv/bin/activate
</pre></div>


<p>Install Pelican and Markdown.</p>
<div class="highlight"><pre><span></span>pip install pelican markdown
</pre></div>


<p>Run the pelican quickstart.</p>
<div class="highlight"><pre><span></span>pelican-quickstart

Welcome to pelican-quickstart v4.0.1.

This script will <span class="nb">help</span> you create a new Pelican-based website.

Please answer the following questions so this script can generate the files
needed by Pelican.


&gt; Where <span class="k">do</span> you want to create your new web site? <span class="o">[</span>.<span class="o">]</span> 
&gt; What will be the title of this web site? My Cool Site
&gt; Who will be the author of this web site? Danger Doggo
&gt; What will be the default language of this web site? <span class="o">[</span>en<span class="o">]</span> 
&gt; Do you want to specify a URL prefix? e.g., https://example.com   <span class="o">(</span>Y/n<span class="o">)</span> n
&gt; Do you want to <span class="nb">enable</span> article pagination? <span class="o">(</span>Y/n<span class="o">)</span> Y
&gt; How many articles per page <span class="k">do</span> you want? <span class="o">[</span><span class="m">10</span><span class="o">]</span> 
&gt; What is your <span class="nb">time</span> zone? <span class="o">[</span>Europe/Paris<span class="o">]</span> America/Edmonton
&gt; Do you want to generate a tasks.py/Makefile to automate generation and publishing? <span class="o">(</span>Y/n<span class="o">)</span> Y
&gt; Do you want to upload your website using FTP? <span class="o">(</span>y/N<span class="o">)</span> N
&gt; Do you want to upload your website using SSH? <span class="o">(</span>y/N<span class="o">)</span> N
&gt; Do you want to upload your website using Dropbox? <span class="o">(</span>y/N<span class="o">)</span> N
&gt; Do you want to upload your website using S3? <span class="o">(</span>y/N<span class="o">)</span> N
&gt; Do you want to upload your website using Rackspace Cloud Files? <span class="o">(</span>y/N<span class="o">)</span> N
&gt; Do you want to upload your website using GitHub Pages? <span class="o">(</span>y/N<span class="o">)</span> Y
&gt; Is this your personal page <span class="o">(</span>username.github.io<span class="o">)</span>? <span class="o">(</span>y/N<span class="o">)</span> Y
Done. Your new project is available at /path/to/your/project
</pre></div>


<h3>Create your first Article</h3>
<p>Create a file inside <em>content</em> with some content. For example, you can use <em>content/my-first-article.md</em> with the following:</p>
<div class="highlight"><pre><span></span><span class="n">Title</span><span class="o">:</span> <span class="n">My</span> <span class="n">First</span> <span class="n">Article</span>
<span class="n">Date</span><span class="o">:</span> <span class="mi">2019</span><span class="o">-</span><span class="mi">01</span><span class="o">-</span><span class="mi">07</span> <span class="mi">8</span><span class="o">:</span><span class="mi">00</span>
<span class="n">Category</span><span class="o">:</span> <span class="n">Blog</span>

<span class="n">I</span> <span class="n">like</span> <span class="n">free</span> <span class="kd">static</span> <span class="n">web</span> <span class="n">hosting</span><span class="o">.</span>
</pre></div>


<p>Generate and preview your site using <code>make devserver</code>. Your site should now be available at <a href="http://localhost:8000">http://localhost:8000</a>.</p>
<h3>Deploy your page to Github</h3>
<p>Update <em>publishconf.py</em> and set <code>SITEURL</code> to your github given url.</p>
<ul>
<li>If using <strong>User or Organization site</strong>, deploy using <code>make github</code>.</li>
<li>If using <strong>Project site</strong>, set <em>publishconf.py</em> <code>OUTPUT_PATH = "docs/"</code>.<ul>
<li>Run <code>make publish</code></li>
<li>Commit the <em>docs/</em> directory to the master branch on Github.</li>
</ul>
</li>
</ul>
<h3>Theme your static site</h3>
<p>Make a directory called <em>templates</em>. Within this directory, create a new theme directory containing a templates folder and a static folder.</p>
<div class="highlight"><pre><span></span>mkdir -p templates/mytheme/<span class="o">{</span>static,templates<span class="o">}</span>
</pre></div>


<p>Within the <em>templates/mytheme/templates" directory, create a new file </em>base.html<em>. Within the </em>templates/mytheme/static<em> directory, create a new file </em>style.css*.</p>
<div class="highlight"><pre><span></span>touch templates/mytheme/templates/base.html
touch templates/mytheme/static/style.css
</pre></div>


<p>Add the following content to the file <em>templates/mytheme/templates/base.html</em>.</p>
<div class="highlight"><pre><span></span>{% extends &quot;!simple/base.html&quot; %}

{% block head %}
{{ super() }}
  <span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&quot;stylesheet&quot;</span> <span class="na">type</span><span class="o">=</span><span class="s">&quot;text/css&quot;</span> <span class="na">href</span><span class="o">=</span><span class="s">&quot;{{ SITEURL }}/theme/style.css&quot;</span> <span class="p">/&gt;</span>
{% endblock %}
</pre></div>


<p>Modify the content of the <em>templates/mytheme/static/style.css</em> file to your preference. A quick sample stylesheet can be found below.</p>
<div class="highlight"><pre><span></span><span class="nt">html</span><span class="o">,</span> <span class="nt">body</span> <span class="p">{</span>
  <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">border</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
  <span class="k">font-size</span><span class="p">:</span> <span class="mi">100</span><span class="kt">%</span><span class="p">;</span>
  <span class="k">background-color</span><span class="p">:</span> <span class="mh">#000000</span><span class="p">;</span>
  <span class="k">color</span><span class="p">:</span> <span class="mh">#ffffff</span><span class="p">;</span>
<span class="p">}</span>
</pre></div>


<p>Create at least articles/pages on your static site and deploy to GitHub. Ensure that you are not using a theme created by someone else.</p>
<p><strong>Question 1</strong>: What is the link to your GitHub pages hosted static site?</p>
  </div><!-- /.entry-content -->
</section>
        <footer id="contentinfo" class="body">
                <address id="about" class="vcard body">
                Proudly powered by <a href="http://getpelican.com/">Pelican</a>,
                which takes great advantage of <a href="http://python.org">Python</a>.
                </address><!-- /#about -->
        </footer><!-- /#contentinfo -->
</body>
</html>