{% extends "!simple/page.html" %}

{% block content %}
{{ super () }}
<hr>
<footer>
    <address>
        Copyright © 
        <ul>
          <li>Dr. Hazel Campbell, Department of Computing Science, Faculty of Science, University of Alberta (2019, 2023, 2024).</li>
          <li>Dr. Abram Hindle, Department of Computing Science, Faculty of Science, University of Alberta (2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023).</li>
          <li>Alexander Wong, 2019.</li>
        </ul>      
    </address>
    <img src="{attach}ms-github-pages.png" alt="ms-badge"/>
</footer>
{% endblock %}
